<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    

    <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">ZulianDyka TOP UP</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#feedback">Feedback</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal">Admin</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


   <div class="container-home-page" id="home" >
    <div class="container-img">
        <img src="logoml.png" alt="" srcset="">  
     </div>
     <div class="container-heading">
        <h1 id="typedjs"></h1>
         <h2 id="typedjs2"></h2>
     </div>
   </div>

   <div  class="container-about" id="about" >
        <h1>About</h1>
        <div class="about">
          <div class="box">
            <img src="gatot.png" alt="">
            <h1>Apa itu Topup Diamond ML?</h1>
            <p>Topup Diamond ML adalah layanan yang memungkinkan pemain Mobile Legends (ML) untuk membeli berlian dalam
              permainan. Berlian adalah mata uang premium di ML dan dapat digunakan untuk membeli berbagai item dalam
              permainan, skin, dan konten eksklusif lainnya.</p>
          </div>
          <div class="box">
            <img src="harley.png" alt="">
          <h1>Mengapa Memilih Topup Diamond ML?</h1>
          <p> - Transaksi Aman: Kami mengutamakan keamanan transaksi Anda untuk memastikan pengalaman top-up yang aman.<br>
            - Berbagai Metode Pembayaran: Pilih dari berbagai metode pembayaran untuk kenyamanan Anda.<br>
            - Cepat dan Handal: Nikmati proses top-up yang cepat dan dapat diandalkan untuk mendapatkan berlian Anda dengan
            segera.</p>
          </div>
          <div class="box">
            <img src="layla.png" alt="" srcset="">
            <h1>Bagaimana Cara Kerjanya?</h1>
            <p>
                Untuk top up berlian di ML, pengguna dapat menggunakan platform Topup Diamond ML untuk melakukan transaksi
                yang aman dan nyaman. Pengguna dapat memilih dari berbagai metode pembayaran, termasuk kartu kredit/debit,
                dompet digital, dan opsi pembayaran lainnya yang didukung.
            </p>
    
          </div>
        </div>
   </div>


   <div class="container-services" id="services">
    <h1>Services</h1>
    <div class="services">
         <div class="container-img">
          <img src="topup.jpeg" alt="" srcset="">
         </div>
         <div class="container-content-services">
               <div class="content-services">
                  <h2>Layanan Topup Diamond ML Kami</h2>
                  <p>
                      Kami menyediakan berbagai layanan untuk meningkatkan pengalaman bermain Mobile Legends Anda melalui topup
                      berlian. Baik Anda membutuhkan dorongan kecil atau jumlah berlian yang signifikan, layanan kami memenuhi
                      kebutuhan permainan Anda.
                  </p>
                </div>

          
              <div class="content-services">
                  <h2>Mengapa Memilih Layanan Topup Kami?</h2>
                  <p>
                      - Transaksi Cepat dan Aman: Rasakan transaksi cepat dan aman untuk proses topup yang bebas masalah.<br>
                      - Berbagai Paket Berlian: Pilih dari berbagai paket berlian sesuai kebutuhan permainan Anda.<br>
                      - Dukungan 24/7: Tim dukungan pelanggan kami tersedia 24/7 untuk membantu Anda dengan pertanyaan atau masalah
                      apa pun.
                  </p>
                </div>
           </div>
       </div>
   </div>


   <div class="container-contact" id="contact">
    <h1>Contact</h1>
    <div class="contact">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d338.20307504785893!2d96.52712054103847!3d21.29509093380499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30cc0d656aa63d75%3A0x476a9e89db907f1!2z4YCQ4YCV4YCE4YC64YCV4YC74YCx4YCs4YC6IOGAmOGAr-GAlOGAuuGAuOGAkOGAseGArOGAuuGAgOGAvOGAruGAuOGAgOGAu-GAseGArOGAhOGAuuGAuA!5e0!3m2!1sid!2sid!4v1700829518268!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="box-ig" onclick="location.href='https://www.instagram.com/wh.zuliandyka/?igshid=OGQ5ZDc2ODk2ZA%3D%3D'">
        <h1>Instagram</h1>
        <i class='bx bxl-instagram'></i>
      </div>
    </div>
   </div>

  <div class="container-feedback" id="feedback">
    <h1>Feedback</h1>
    <div class="feedback">
            <form>
            <div class="container-name">
              <label for="name">Nama</label>
             <input type="text" name="name" id="name">
            </div>
             <div class="container-email">
              <label for="email">Email</label>
             <input type="text" name="email" id="email">
            </div>
            <div class="container-saran">
              <label for="textarea">Saran</label>
              <textarea name="textarea" id="saran"></textarea>
            </div>
            <input type="button" value="Send this" id="btn">
            </form>
            <div class="container-img">
              <img src="send.png" alt="" srcset="">
            </div>
    </div>
  </div>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Admin Page</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <label for="inputPassword5" class="form-label">Password</label>
            <input type="password" id="pw" class="form-control" aria-describedby="passwordHelpBlock">
            <div id="passwordHelpBlock" class="form-text">
              Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="alertfunc()">Go</button>
        </div>
      </div>
    </div>
  </div>
  
  

   <script>
   let typed = TypedDinamis("#typedjs", "ZulianDyka TopUp");
   let typed2 =  TypedDinamis("#typedjs2","TopUp Diamond Mobile Legends");
   const btn = document.querySelector("#btn");
   let user = document.querySelector("#name");
   let email = document.querySelector("#email");
   let coment = document.querySelector("#saran");
   const a = document.querySelectorAll(".nav-link");
   console.log(btn,user,email,coment)


   function TypedDinamis(tag,string) {
       return  new Typed(tag, {
               strings: [string],
               typeSpeed: 50,
               backSpeed: 25,
              showCursor: false
       });

   }

     


   btn.addEventListener("click", () => {
    btn.disbled = true;
    if (user.value == "" && email.value == "" &&  coment.value == "" || user.value && email.value == "" && coment.value == "" || user.value && email.value && coment.value == "" || user.value == "" && email.value  && coment.value == "" || user.value == "" && email.value == "" && coment.value || user.value == "" && email.value && coment.value || user.value && email.value && coment.value == "") {
        alert("the data you sent is empty or there is one that is empty")
    } else {     
         const User = user.value;
         const Email = email.value;
         const Coment = coment.value;


        fetch('http://localhost:3000/feedback', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ 
            user: User,
            email: Email,
            coment: Coment,
            time: getTime(),
            number: `${randomNumber()}`,
         }),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Response dari server:', data);
            user.value = "";
            email.value = "";
            coment.value = "";
            alert("data berhasil masuk")
            btn.disabled = false;
        })
        .catch(error => {
            console.error('Error:', error);
        });    
    }
})

a.forEach(e => {
  e.addEventListener("click", () => {
    a.forEach(e => {
      e.classList.remove("active");
    })
    e.classList.add("active");
  })
})

function alertfunc()  {
        const pw = document.querySelector("#pw");
        if (pw.value == "jawiradmin123") {
            location.href = "/admin";
        } else if (pw.value == "") {
            alert("password kosong");
        } else {
            alert("password salah");
        }
      }

      function getTime() {
        var waktuSekarangUTC = new Date();
        var zonaWaktuLokal = "Asia/Jakarta";
        var waktuSekarangLokal = waktuSekarangUTC.toLocaleString('en-ID', { timeZone: zonaWaktuLokal });
        var stringWaktuLokal = `${waktuSekarangLokal.substr(0, 10)} ${tambahkanNol(waktuSekarangLokal.substr(12))}`;
        return stringWaktuLokal;
      }

      function tambahkanNol(angka) {
        return angka < 10 ? "0" + angka : angka;
      }
 

      function randomNumber() {
        return Math.ceil(Math.random() * 100);
      }



   </script>

</body>
</html>